<!DOCTYPE html>

{% load static %}

<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>create product</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>



<style>
    label{
    font-weight: 630;
    margin-top: 1rem;
    margin-bottom: 0px !important;
    }

    #id_digital{
    margin-right: 100% !important;
    }
</style>




    {% if messages %}
        {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                </div>
        {% endfor %}
    {% endif %}



<div class="container mb-5">
    <h2>Add Products</h2>

    <br>
    <form action="" method='POST' enctype="multipart/form-data">{% csrf_token %}



    <div class="mb-3">
        <label for="exampleInputName" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="exampleInputName">
    </div>

    <div class="mb-3">
        <label for="exampleInputPrice" class="form-label">Price</label>
        <input type="number" class="form-control" name="price" step="0.01" id="exampleInputPrice">
    </div>



    <div class="mb-3">
        <label for="exampleInputDescription" class="form-label">Description</label>
        <textarea name="description" cols="60" rows="10" id="exampleInputDescription"></textarea>
    </div>


    <div class="mb-3">
        <label for="exampleInputWeight" class="form-label">Weight</label>
        <input type="number" name="weight" step="0.01" class="form-control" id="exampleInputWeight">
    </div>


    <div class="mb-3">
        <label for="exampleInputImages" class="form-label">Images</label>
        <input type="file" name="images" id="exampleInputImages">
    </div>

    <div class="mb-3">
        <label for="exampleInputCategory" class="form-label">Category</label>
        <select name="category"  class="form-control" id="exampleInputCategory">
            <option value="" selected="" disabled>---------</option>
            <option value="1">meat</option>
            <option value="2">vegetables</option>
            <option value="3">fruit nut</option>
            <option value="4">berries</option>
            <option value="5">ocean food</option>
            <option value="6">butter eggs</option>
            <option value="7">fastfood</option>
            <option value="8">onion</option>
            <option value="9">crisps</option>
            <option value="10">oatmeal</option>
            <option value="11">bananas</option>
        </select>
    </div>



        <br/>
        <input type="submit" name="create" value="Create Product" class="btn btn-primary mb-3">
<!--        <button type="submit" value="Submit" class="btn btn-outline-success ml-2">Login</button>-->
    </form>





</div>





